<?xml version='1.0' encoding='utf-8'?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
    <display-name>Hệ thống bán hàng và kho</display-name>
    <listener>
        <listener-class>vn.codegym.salesinventory.listener.ApplicationLifecycleListener</listener-class>
    </listener>
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>vn.codegym.salesinventory.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>securityHeadersFilter</filter-name>
        <filter-class>vn.codegym.salesinventory.filter.SecurityHeadersFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>securityHeadersFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>vn.codegym.salesinventory.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>authorizationFilter</filter-name>
        <filter-class>vn.codegym.salesinventory.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>healthServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.HealthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>healthServlet</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>forgotPasswordServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forgotPasswordServlet</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/account/change-password</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userListServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.UserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userListServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userCreateServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.UserCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userCreateServlet</servlet-name>
        <url-pattern>/admin/users/new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userEditServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.UserEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userEditServlet</servlet-name>
        <url-pattern>/admin/users/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>roleServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.RoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>roleServlet</servlet-name>
        <url-pattern>/admin/roles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssignmentServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.AssignmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssignmentServlet</servlet-name>
        <url-pattern>/admin/assignments</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScopeServlet</servlet-name>
        <servlet-class>vn.codegym.salesinventory.controller.ScopeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScopeServlet</servlet-name>
        <url-pattern>/admin/scopes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/error/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error/500.jsp</location>
    </error-page>
</web-app>